body {
  -webkit-font-smoothing: antialiased;
  background-color: #2C3F49;
  color: #eee;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Helvetica Neue', Helvetica;
  border-top: 5px solid;
}

a {color:#E03B24; text-decoration: none;}

hr {
  margin: 20px 0; border-top: 1px solid #eeeeee;
}

header {text-align: center;}

article {padding: 0 10px;}
article p {line-height: 22px; font-size: 18px;}

footer {font-size: 18px; text-align: center;}

/* FONTS */

.audiowide {font-family: 'Audiowide', cursive;}
.megrim {font-family: 'Megrim', cursive;}
