---
layout: default
---
<header>
  <h1 class="audiowide">{{ page.title }}</h1>
  <h2 class="megrim">Devin Brown</h2>
</header>

<hr>

<article>
  <h4>{{ page.date | date_to_long_string }}</h4>
  {{ content }}
</article>

<hr>

<footer class="no-print">
  <span><a href="http://obfk.github.io/resume/" target="_blank">resume</a></span>
  <span>&nbsp;·&nbsp;</span>
  <span><a href="https://github.com/obfk" target="_blank">github</a></span>
  <span>&nbsp;·&nbsp;</span>
  <span><a href="http://www.linkedin.com/pub/devin-brown/20/4b/90b" target="_blank">linkedin</a></span>
</footer>
